[core]
    editor = vim
    preloadindex = true
[commit]
    template = ~/.git-commit-template
[pull]
    ff = only
	rebase = true
[push]
    default = current
[alias]
    c = commit -m
    ca = commit -am
    amend = commit --amend
    s = status
    co = checkout
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
    lines = log --format=\"%C(auto)%h%d %C(100)%ad%Creset %s\" --date=short
[mergetool]
    prompt = false
[merge]
    summary = true
    verbosity = 1
    tool = vim -d
[apply]
    whitespace = nowarn
[diff]
    mnemonicprefix = true
	algorithm = patience
    compactionHeuristic = true
[rerere]
    enabled = true
[help]
    autocorrect = 1
[advice]
    statusHints = false
[include]
    path = .gitconfig.user
