*

# Git config
!.gitignore
!.gitconfig
!.git-commit-template

# ZSH config
!.zsh/
!.zsh/*
!.zshrc

# Vim config
!.vimrc
!.vim/
!.vim/*
.vim/plugged
.vim/plugged/*
.vim/plugged/*/*
.vim/autoload

# Other command line
!.tmux.conf
!.hushlogin
!Brewfile

# Other config
!.jil-iterm2-profile.json
!.alfred
!.alfred/*

# Github repository
!readme.md
