*

!.gitignore
!.gitconfig
!.git-commit-template
!.zsh/
!.zsh/*
!.zshrc
!.vimrc
!.vim/
!.vim/*
.vim/plugged
.vim/plugged/*
.vim/autoload
!.tmux.conf
!.hushlogin
!.brew
!.cask
!readme.md
!Brewfile
!.jil-iterm2-profile.json

!.bash_profile
!.bashrc
!.config/fish
