*

!.gitignore
!.gitconfig
!.git-commit-template
!.vimrc
!.vim/
!.vim/*
.vim/plugged/*
.vim/autoload
.vim/.netrwhist/*
!.bash_profile
!.bashrc
!.config/fish
!.tmux.conf
!.hushlogin
!.brew
!.cask
!readme.md
!Brewfile
!.jil-iterm2-profile.json
