[user]
	name = James Little
    email = littleguy23@gmail.com
    signingkey = C32CACEB5EC0465B4789536B67E4DF207FF33DDC
[core]
	editor = vim
[commit]
    template = ~/.git-commit-template
[pull]
	rebase = true
